
.button {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

.list {
    list-style-type: none;
    margin: 32px 0;
    padding: 0;
}

.listItem {
    padding: 16px 0;
}

.listItem:not(:last-child) {
    border-bottom: 1px solid var(--border);
}   