:root {
    --primary-color: #2e915b;
    --secondary-color: #43c995;
    --background-color: #9df09b;
    --font-family: 'Lucida Console', sans-serif;
    --primary-text-color: #1f1e1e;
    --secondary-text-color: #888686;
    --border: #b1b1b1;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    min-width: 240px;
}

* {
    box-sizing: border-box;
}